@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One); 
body {
    background: #f3f3f3 url(../img/bg.png) repeat;
    color: #0099e5;
    font-family: "Fjalla One";
    font-size: 15px;
    @include display(flex);
  @include align-content(center);
}
a {
    color: #0099e5;
}
#wrap {
	width: 70%;
    margin: 40px auto;
    background: #fff;
    padding: 0;
    -webkit-box-shadow: -5px -4px 8px 0px rgba(50, 50, 50, 0.93);
    -moz-box-shadow: -5px -4px 8px 0px rgba(50, 50, 50, 0.93);
    box-shadow: -5px -4px 8px 0px rgba(50, 50, 50, 0.93);
}

/* 

    Title Section 

*/

h2.title:before {
    position: relative;
    left: -60px;
    font-family: FontAwesome;
    font-size: 35px;
    content: "\f21b";
}
section#title {
    margin: 0;
    padding: 10px;
}
h2.title {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 10px;
    margin: 20px 0 10px 0;
    padding: 0;
}
p.desig {
    text-transform: lowercase;
    padding-left: 10px;
    font-size: 18px;
    margin: 0 0 0 50px;
}
.desc p {
    margin: 30px 40px 0 40px;
    padding: 30px;
    font-weight: 400;
    font-size: 16px;
    font-family: Open Sans;
    color: #000;
    background: #E0E0E0;
    border: 1px solid #f3f3f3;
    border-radius: 8px;
}
.social_right {
    float: right;
}
.social {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 5px;
  margin: 15px 5px;
  font-size: 28px;
  text-align: center;
  color: #0099E5;
  background: #eee;
  overflow: hidden;
  cursor: pointer;
}

.social {
   text-shadow: rgb(226, 226, 226) 1px 1px,
    rgb(227, 227, 227) 2px 2px,
    rgb(227, 227, 227) 3px 3px,
    rgb(228, 228, 228) 4px 4px,
    rgb(229, 229, 229) 5px 5px,
    rgb(229, 229, 229) 6px 6px,
    rgb(230, 230, 230) 7px 7px,
    rgb(230, 230, 230) 8px 8px,
    rgb(231, 231, 231) 9px 9px,
    rgb(232, 232, 232) 10px 10px,
    rgb(232, 232, 232) 11px 11px,
    rgb(233, 233, 233) 12px 12px,
    rgb(233, 233, 233) 13px 13px,
    rgb(234, 234, 234) 14px 14px,
    rgb(235, 235, 235) 15px 15px,
    rgb(235, 235, 235) 16px 16px,
    rgb(236, 236, 236) 17px 17px,
    rgb(236, 236, 236) 18px 18px,
    rgb(237, 237, 237) 19px 19px,
    rgb(238, 238, 238) 20px 20px;
}

/* 

    Skill Section 

*/

section#skills {
    margin: 0;
    padding: 10px;
}
h2.skills {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 10px;
    margin: 10px 0 15px 0;
}
h2.skills:before {
    position: relative;
    left: -60px;
    /*top: 250px;*/
    font-family: FontAwesome;
    font-size: 35px;
    content: "\f0ad";
}
.skill {
  margin: 0 20px;
}

/* 

    Experience Section 

*/

section#exp {
    margin: 0;
    padding: 10px;
}
h2.exp {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 10px;
}
h2.exp:before {
    position: relative;
    left: -60px;
    /*top: 465px;*/
    font-family: FontAwesome;
    font-size: 35px;
    content: "\f0f2";
}
.exp_company {
    clear: both;
    margin: 25px 0 0 0;
    padding: 5px 10px;
}
.exp_company .company_name {

}
.exp_company .company_name h3 {
    line-height: 15px;
}
.exp_company .company_name p {
    margin: 0;
    line-height: 15px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 16px;
}
.exp_company .company_name em {
    line-height: 15px;
    padding-left: 20px;
    font-style: normal;
}
.exp_company .company_desc p {
    text-align: justify;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Open Sans;
}

/* 

    Education Section 

*/

section#edu {
    margin: 0;
    padding: 10px;
}
h2.edu {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 10px;
}
h2.edu:before {
    position: relative;
    left: -60px;
    /*top: 465px;*/
    font-family: FontAwesome;
    font-size: 35px;
    content: "\f19d";
}
.edu_institue {
    clear: both;
    margin: 15px 0 0 0;
    padding: 5px 10px;
}
.edu_institue .edu_institue_name {

}
.edu_institue .edu_institue_name h3 {
    line-height: 25px;
}
.edu_institue .edu_institue_name p {
    margin: 0;
    line-height: 15px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 16px
}
.edu_institue .edu_institue_name em {
    line-height: 15px;
    padding-left: 20px;
    font-style: normal;
}
.edu_institue .edu_institue_desc p {
    text-align: justify;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Open Sans;
}

/* 

    Footer Section 

*/

section#footer {
    margin: 0;
    padding: 10px;
}
section#footer p {
	margin: 0;
    padding: 0;
    text-align: center;
    font-size: 12px;
    color: #ccc;
}
section#footer p a {
	color: #00405d;
}

/* 

    Misc

*/
.right {
    width: 40px;
    height: 40px;
    opacity: 0.4;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    font-size: 40px;
    color: #0099e5;
}
.right:hover {
   opacity: 1;
   color: #0099e5; 
}